* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  box-sizing: border-box;
}

body {
  background: #222;
}

.card {
  width: 90%;
  min-width: 470px;

  background: #c2e59c;
  background: -webkit-linear-gradient(to top, #64b3f4, #c2e59c);
  background: linear-gradient(to top, #64b3f4, #c2e59c);

  color: #fff;
  margin: 100px 100px 100px;
  padding: 40px 35px;
  text-align: center;
  border-radius: 20px;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search button img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.rainIcon {
  width: 150px;
  margin-top: 30px;
}



.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 50px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -7px;
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 15px;
  margin-top: 18px;
  color: rgb(225, 17, 17);
  font-family: "Poppins", serif;

  display: none;
}
